/**************************************
FIXED LAYOUT CSS
**************************************/

.wrapper {
    display: flex;
    margin: 50px auto;
    flex-flow: row wrap;
}

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
    background-color: #163A59;
    color: #FF6600;
    border: 2px solid;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 160px;
    line-height: 100px;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
    width: 100%;
}